header > div{
  color:#15615D;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  font-size: 20pt;
  line-height: 0.8;
}
h1,h2,h3{
  text-align: center;
  font-family: 'cardo', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

h2{
  font-size: 30pt;
}
h3{
  font-size: 20pt;
}
a:link{
  color: white;
}
a:visited{
  color:white;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}
/*
#aboutme{
  padding: 40px 20px 40px 20px;
  background-color: #ffecd1
}*/

footer{
  background-color: #15615D;
  text-align: center;
  font-family: 'cardo', sans-serif;
  font-weight: 300;
  height: 50px;
  padding: 10px;
}

.blankspace{
  padding: 30px;
  background-color:black;
}

body{
  background-color:black;
  color: white;
}

p, ul, ol{
  font-family: 'cardo', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  letter-spacing: 1px;
}

hr{
  color: white;
}

main{
  margin: 20px 400px 20px 400px
}
