body{
  background-color: #C1B4AE;
}

header > div{
  color: #92140C;
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  font-size: 20pt;
  line-height: 0.8;
}

h1,h2,h3{
  text-align: center;
  font-family: 'cardo', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

h2, h3{
  color: #353238;
  font-size: 20pt;
}
nav{
padding: 5px;
}

nav a{
text-decoration: none;
margin: 0 10px 0 0;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}



img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100);
}

header img{
  padding: 30px 0 10px 0;
  width: 90%;
}


footer{
  background-color: gainsboro;
  text-align: center;
  font-family: 'cardo', sans-serif;
  font-weight: 300;
  height: 50px;
  padding: 10px;
}



article{
  padding: 20px
}


p, ol,ul{
  font-family: 'cardo', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  letter-spacing: 1px;
  list-style: inherit;
}


main{
  margin: 10px;
}


.group{
  display:flex;
  flex-direction: column;
}
.item {
  flex: 1;
  margin: 10px;
}



@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }

  .group {
    flex-direction: row;
  }

  header img{
    width: 50%;
    padding: 40px
  }

  .main{
    margin: 10px 150px;
  }
}



form {
  padding-right: 8px;
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 120px;
}
